@import './variables';
@import './mixins';

body {
    background-color: $primary;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    @include flexCenter();
    flex-direction: column;
    background-color: $secundary;
    width: 70%;
}

h1 {
    font-size: 36px;
    color: white;
}

.input{
    background-color: white;
    border-radius: 3px;
    padding: 8px 4px;
    &:focus{
        border-radius: 8px;
        border: none;
    }
}

.button{
    background-color:#047667;
	border-radius:5px;
	border:1px solid #d5e0b5;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 10px;
	text-decoration:none;

    &:hover{
        background-color:#03594e;
    }

    &:active{
        top: 1px;
    }
}