@import './variables';
@import './mixins';
@include resetStyleInput();
body {
    @include flexCenter();
    flex-direction: column;
    background-color: $primary;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 10%;
    gap: 10px;
}

.container {
    @include flexCenter();
    flex-direction: column;
    background-color: $secundary;
    width: 70%;
    border-radius: 4px;

}

h1 {
    font-size: 36px;
    color: white;
}

.input {
    
    background-color: white;
    border-radius: 3px;
    padding: 8px 4px;

    &:focus {
        border-radius: 8px;
        border: none;
    }
}

.button {
    background-color: $primary;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    font-weight: bold;
    padding: 8px 8px;
    text-decoration: none;

    &:hover {
        background-color: $primary-hover;
    }

    
}