@import "./variables";
@import "./mixins";
@include resetStyleInput();

body {
  @include flexCenter();
  flex-direction: column;
  background-color: $primary;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 10%;
  gap: 10px;
}

h1 {
  font-size: 36px;
  color: white;
}

.container {
  @include flexCenter();
  flex-direction: column;
  background-color: $secundary;
  justify-content: flex-start;
  width: 70%;
  height: 300px;
  border-radius: 2px;
  padding: 15px 15px;
  gap: 10px;

  .form-inputs {
    @include flexCenter();
    justify-content: space-between;
    width: 100%;
    gap: 5px;
  }

  .taskList {
    width: 100%;
    gap: 3px;

    span {
      color: white;
    }

    .liTask {
      display: flex;
      align-items: center;
      height: 40px;
      justify-content: space-between;
      border-bottom: solid 2px;
      border-bottom-color: $secundary-dark;

      &:hover {
        border-bottom-color: $primary;
      }
    }
  }
}

.input {
  background-color: $color-input;
  font-size: 14px;
  border-radius: 2px;
  padding: 8px 8px;
  width: 100%;
  transition: 0.3s ease;
  &:focus {
    border-radius: 8px;
    border: none;
  }
}

.button {
  cursor: pointer;
  background-color: $primary;
  border-radius: 2px;
  display: inline-block;
  color: #ffffff;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 8px;
  text-decoration: none;
  &:hover {
    background-color: $primary-hover;
  }
}
.liTask:not(.editing) {
  .cancel,
  .save,
  .input {
    display: none;
  }
}
.liTask.editing {
  span,
  .edit,
  .done,
  .delete {
    display: none;
  }
}

.boxButtons {
  display: flex;
  margin-left: 5px;
  gap: 5px;
}

.taskDone {
  text-decoration: line-through;
}

@media (min-width: 1024px) {
  .container {
    width: 50%;
  }
}
