@import "./variables";
@import "./mixins";
@include resetStyleInput();

body {
  @include flexCenter();
  flex-direction: column;
  background-color: $primary;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 10%;
  gap: 10px;
}

h1 {
  font-size: 36px;
  color: white;
}

.container {
  @include flexCenter();
  flex-direction: column;
  background-color: $secundary;
  width: 70%;
  border-radius: 2px;
  padding: 15px 15px;
  gap: 10px;

  .form-inputs {
    @include flexCenter();
    justify-content: space-between;
    width: 100%;
    gap: 5px;

    .taskInput {
      background-color: white;
      font-size: 14px;
      border-radius: 2px;
      padding: 8px 8px;
      width: 100%;

      &:focus {
        border-radius: 8px;
        border: none;
      }
    }

    .btnAdd {
      background-color: $primary;
      border-radius: 2px;
      display: inline-block;
      cursor: pointer;
      color: #ffffff;
      font-family: Arial;
      font-size: 14px;
      font-weight: bold;
      padding: 8px 8px;
      text-decoration: none;

      &:hover {
        background-color: $primary-hover;
      }
    }
  }

  .taskList {
    width: 100%;
    gap: 3px;

    .liTask {
      display: flex;
      align-items: center;
      height: 32px;
      justify-content: space-between;
      border-bottom: solid 2px;
      border-bottom-color: $secundary-dark;

      &:hover {
        border-bottom-color: $primary;
      }
    }
  }
}

@media (min-width: 1024px) {
  .container {
    width: 50%;
  }
}
